.div1, .div41{background-image: url(../img/Aishite.jpg);}
.div2, .div42{background-image: url(../img/AlienBlues.jpg);}
.div3, .div43{background-image: url(../img/AmorHospitalar.jpg);}
.div4, .div44{background-image: url(../img/BlendS.jpg);}
.div5, .div45{background-image: url(../img/ChavesAcapulco.jpg);}
.div6, .div46{background-image: url(../img/CrimesLost.jpg);}
.div7, .div47{background-image: url(../img/DokiDokiForever.jpg);}
.div8, .div48{background-image: url(../img/EmotionalPrism.jpg);}
.div9, .div49{background-image: url(../img/EstrelarRemix.jpg);}
.div10, .div50{background-image: url(../img/FukashigiNoCarte.jpg);}
.div11, .div51{background-image: url(../img/IGotNoTime.jpg);}
.div12, .div52{background-image: url(../img/JustMonika.jpg);}
.div13, .div53{background-image: url(../img/NarutoEnd1.jpg);}
.div14, .div54{background-image: url(../img/OshiNoKo.jpg);}
.div15, .div55{background-image: url(../img/RockefellerStreet.jpg);}
.div16, .div56{background-image: url(../img/SequestroAs11.jpg);}
.div17, .div57{background-image: url(../img/ShakeThatAss.jpg);}
.div18, .div58{background-image: url(../img/SonicFrontiers.jpg);}
.div19, .div59{background-image: url(../img/SystemOfDown.jpg);}
.div20, .div60{background-image: url(../img/TheGirlNextDoor.jpg);}




.div21{background-image: url(../img/VocaloidGigachad.jpg);}
.div21{background-image: url(../img/WeLiveWeLoveWeLie.jpg);}
.div22{background-image: url(../img/YoungGirlA.jpg);}
.div23{background-image: url(../img/YourReality.jpg);}
.div24{background-image: url(../img/Ayasa.jpg);}
.div25{background-image: url(../img/Bloodborne.jpeg);}
.div26{background-image: url(../img/ChainsawMan.jpeg);}
.div27{background-image: url(../img/GrandeFamilia.jpg);}
.div28{background-image: url(../img/Hayloft.jpg);}
.div29{background-image: url(../img/Megalovania.jpeg);}
.div30{background-image: url(../img/Paradise.jpg);}
.div31{background-image: url(../img/Polyphia.jpeg);}
.div32{background-image: url(../img/Summertime.jpg);}
.div33{background-image: url(../img/TBOI.jpg);}
.div34{background-image: url(../img/UniaoFlasco.jpg);}
.div35{background-image: url(../img/GumiKing.jpeg);}
.div36{background-image: url(../img/BlueArchieve.jpg);}
.div37{background-image: url(../img/Fnaf1.jpg);}
.div38{background-image: url(../img/Fnaf2.jpg);}
.div39{background-image: url(../img/Fnaf3.jpg);}
.div40{background-image: url(../img/FnafSB.jpg);}

















