* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background: #222;
}

.gradient-background {
  background: linear-gradient(152deg, #ff0093, #4800ff);
  background-size: 180% 180%;
  animation: gradient-animation 5s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
audio {
  position: absolute;
  top: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 1000px;
}

.galery {
  display: grid;
  place-items: center;
  height: 570px;
  width: 885px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: white;
  border-radius: 20px;
}
.galery .slider {
  height: 520px;
  width: 835px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.galery .slider .content {
  display: grid;
  grid-template-columns: repeat(24, 100px);
  grid-template-rows: repeat(5, 100px);
  gap: 5px;
  position: absolute;
  animation: slide 20s linear infinite;
}
.galery .slider .content div {
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: 0.3s;
}
.galery .slider .content div:hover {
  transition: 0.3s;
  scale: 1.1;
  opacity: 0.7;
  z-index: 10;
  border-radius: 10px;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1680px);
  }
}
.div1 {
  grid-area: 1/1/2/2;
}

.div2 {
  grid-area: 2/1/3/3;
}

.div3 {
  grid-area: 3/1/5/3;
}

.div4 {
  grid-area: 5/1/6/2;
}

.div5 {
  grid-area: 1/2/2/3;
}

.div6 {
  grid-area: 5/2/6/3;
}

.div7 {
  grid-area: 1/3/2/4;
}

.div8 {
  grid-area: 2/3/4/4;
}

.div9 {
  grid-area: 4/3/6/5;
}

.div10 {
  grid-area: 1/4/3/5;
}

.div11 {
  grid-area: 3/4/4/5;
}

.div12 {
  grid-area: 1/5/2/6;
}

.div13 {
  grid-area: 2/5/4/7;
}

.div14 {
  grid-area: 4/5/6/6;
}

.div15 {
  grid-area: 1/6/2/8;
}

.div16 {
  grid-area: 4/6/5/7;
}

.div17 {
  grid-area: 5/6/6/7;
}

.div18 {
  grid-area: 2/7/3/8;
}

.div19 {
  grid-area: 3/7/6/9;
}

.div20 {
  grid-area: 1/8/3/9;
}

.div21 {
  grid-area: 1/9/2/10;
}

.div22 {
  grid-area: 1/10/2/11;
}

.div23 {
  grid-area: 2/9/3/11;
}

.div24 {
  grid-area: 3/9/5/11;
}

.div25 {
  grid-area: 5/9/6/10;
}

.div26 {
  grid-area: 5/10/6/11;
}

.div27 {
  grid-area: 1/11/2/12;
}

.div28 {
  grid-area: 1/12/3/13;
}

.div29 {
  grid-area: 2/11/4/12;
}

.div30 {
  grid-area: 3/12/4/13;
}

.div31 {
  grid-area: 4/11/6/13;
}

.div32 {
  grid-area: 1/13/2/14;
}

.div33 {
  grid-area: 1/14/2/16;
}

.div34 {
  grid-area: 1/16/3/17;
}

.div35 {
  grid-area: 2/13/4/15;
}

.div36 {
  grid-area: 2/15/3/16;
}

.div37 {
  grid-area: 3/15/6/17;
}

.div38 {
  grid-area: 4/13/6/14;
}

.div39 {
  grid-area: 4/14/5/15;
}

.div40 {
  grid-area: 5/14/6/15;
}

.div41 {
  grid-area: 1/17/2/18;
}

.div42 {
  grid-area: 2/17/3/19;
}

.div43 {
  grid-area: 3/17/5/19;
}

.div44 {
  grid-area: 5/17/6/18;
}

.div45 {
  grid-area: 1/18/2/19;
}

.div46 {
  grid-area: 5/18/6/19;
}

.div47 {
  grid-area: 1/19/2/20;
}

.div48 {
  grid-area: 2/19/4/20;
}

.div49 {
  grid-area: 4/19/6/21;
}

.div50 {
  grid-area: 1/20/3/21;
}

.div51 {
  grid-area: 3/20/4/21;
}

.div52 {
  grid-area: 1/21/2/22;
}

.div53 {
  grid-area: 2/21/4/23;
}

.div54 {
  grid-area: 4/21/6/22;
}

.div55 {
  grid-area: 1/22/2/24;
}

.div56 {
  grid-area: 4/22/5/23;
}

.div57 {
  grid-area: 5/22/6/23;
}

.div58 {
  grid-area: 2/23/3/24;
}

.div59 {
  grid-area: 3/23/6/25;
}

.div60 {
  grid-area: 1/24/3/25;
}/*# sourceMappingURL=index.css.map */